body, html {
  height: 100%;
  margin: 0;
  color: #555555;
}
  
.bg {
  /* The image used */
  background-image: url("./img/background/bg.jpg");
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
  
.footer a {
  color: #555555;
  font-size: 70%;
  text-decoration: none;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 200;
}