@font-face {
    font-family: 'SF-Mono';
    src: url('../fonts/SF-Mono-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'SF-Mono';
    src: url('../fonts/SF-Mono-Bold.otf') format('opentype');
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
    background-color: #1F1F24;
    font-family: 'SF-Mono', 'Menlo';
}

.container {
    margin: auto;
    color: #67B7A4;
    position: absolute;
    padding: 2vw 8vw 2vw 8vw;
    line-height: 1.3;
    font-size: 18px;
}

a {
    color: #67B7A4;
}

.comment {
    color: #6C7986;
}

h1 h2 {
    word-spacing: -0.3ch;
}

h1 {
    color: #D0A8FF;
    font-size: 2em;
}

.name {
    color: #FD8F3F;
}

h3 {
    color: #42B8E0;
    font-size: 1.5rem;
}

.link {
    color: #5482FF;
}

.contact {
    color: #A167E6;
}