@font-face {
    font-family: 'SF-Mono';
    src: url('../fonts/SF-Mono-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'SF-Mono';
    src: url('../fonts/SF-Mono-Bold.otf') format('opentype');
    font-weight: bold;
}

a {
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: #1F1F24;
    font-family: 'SF-Mono';
}

.container {
    margin: auto;
    color: white;
    position: absolute;
    padding: 2vw 8vw 2vw 8vw;
}

.comment {
    color: #6C7986;
}

h1 {
    color: #FC5FA3;
}

.title {
    color: #9EF1DD;
}

.contact {
    color: #D0A8FF;
}