@font-face {
    font-family: 'SF-Mono';
    src: url('../fonts/SF-Mono-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'SF-Mono';
    src: url('../fonts/SF-Mono-Bold.otf') format('opentype');
    font-weight: bold;
}

a {
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
    background-color: #1F1F24;
    font-family: 'SF-Mono', 'Menlo';
}

.container {
    margin: auto;
    color: #67B7A4;
    position: absolute;
    padding: 2vw 8vw 2vw 8vw;
    line-height: 1.3;
    font-size: 24px;
}

.comment {
    color: #6C7986;
}

h1 h2 h3 {
    word-spacing: -0.3ch;
}

h1 {
    color: #D0A8FF;
    font-size: 2em;
}

.title {
    color: #5DD8FF;
}

.contact {
    color: #5482FF;
}

h2 {
    color: #D0BF69;
    font-size: 1.5em;
}

h3 {
    color: #BF8555;
    font-size: 1.5rem;
}